<!DOCTYPE html>
<html>
  <head>
    <title>Poppin Offers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <!-- Navigation Bar -->
      <div class="header">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          </ul>
        </nav>
        <h3 class="text-muted">Poppin Offers!</h3>
      </div>

      <!-- Page Content -->
      <%= yield %>
      
      <!-- Flash Message -->
      <% flash.each do |name, message| %>
      <%= content_tag(:div,message, class: "alert alert-info #{name}") %>
      <% end %>

      <!-- Footer -->
      <footer>
        <hr>
        <p>© 2016 One Month</p>
      </footer>

    </div>
  </body>
</html>

